.folddown {
  margin-top: auto;
  margin-bottom: 0;
}

button.button-link {
  /* box-sizing: border-box; */
  color: #FFF;
  font-size: 1.4em;
  margin-left: 2%;
  padding: 0 15px;
  background-color: rgba(255, 0, 0, .3);
  border: 0;
  cursor: not-allowed;
}
button.button-link:active,
button.button-link:visited {
  background-color: rgba(255, 0, 0, .3);
}
button.button-link:hover {
  background-color: rgba(255, 0, 0, .7);
}